/*----------------------------------------*/
/*  1. Theme Default CSS
/*----------------------------------------*/
* { margin:0; padding:0; }

html, body {height: 100%;}

.floatleft {float:left !important;}
.floatright {float:right !important;}
.floatnone {float:none !important;}
.alignleft {text-align:left !important;}
.alignright {text-align:right !important;}
.aligncenter {text-align:center !important;}

img {
    max-width:100%;
    height:auto;
    border:0; 
    vertical-align:top;
}

.fix {overflow:hidden}

p {margin:0 0 15px;}


ul{
    list-style: outside none none;
    margin: 0;
    padding: 0
}
.clear{clear:both}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
body { 
    font:14px/20px Lato,sans-serif; 
    color:#69686c; 
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
    margin:0 0 5px; 
    line-height:1.35;
    font-family: 'Lato', 
    sans-serif;color: #232323
}


h4,.h4{ font-size:22px;}
h5,.h5{ font-size:18px;}
h6,.h6{ font-size:14px;}

form { display:inline; }
fieldset { border:0;line-height: 25px }
legend { display:none; }

table { 
    border:0; 
    border-spacing:0; 
    empty-cells:show;
	padding:5px;  
    font-size:100%; 
}
th,td  {
    vertical-align:top; 
    text-align:left; 
    font-weight:normal;
	padding:7px; 
}
p { margin:0 0 10px; }
strong { font-weight:bold; }

q, blockquote { quotes:none; }
q:before,q:after { content:''; }
small,big { font-size:1em; }
ul,ol { list-style:none; margin: 0;}

address { 
    font-style:normal; 
    line-height:25px;
    margin: 0 ;
    &.nb-compact-address {
        margin-bottom: 10px;
        abbr {
            display: block;
        }
        a { 
            color: map-get($theme-colors,"light");
            &:hover {
                color: map-get($theme-colors,"orange");
            }

        }
         
    }
}




@import "inputs";
@import "links";
@import "utilities";
@import "lists";
@import "tables";