/****
    Input Control
    - input
    - button

***/

input,
select,
textarea,
button  {
    font: 1.2rem Lato, Arial, Helvetica, sans-serif;
    line-height: 1rem;
    vertical-align:middle;
    color:#888888;
    background:#fff;
}

input.input-text,
select,
input,
textarea  
{
    border:1px solid #f2f2f2; 
    @include border-radius(5px);
}

input,
input.input-text,
textarea  { padding: 5px; }

select  { 
    padding:4px; 
    option {
        padding-right:10px;
    }

    .multiselect {
        option {

            border-bottom:1px solid #b6b6b6; 
            padding:2px 5px; 

            &:last-child {
                border-bottom:0;
            }
        }
    }
}

textarea  { overflow:auto; }

input {
    &.radio {
        margin-right:3px;margin-top: 2px; 
    }
    &.checkbox {
        margin-right:3px; 
    }

    &.qty {
        width:2.5em !important;text-align: center;
    }

}

.button  { 
    overflow:visible; 
    width:auto; 
    border:0; 
    padding:0; 
    margin:0; 
    background:transparent; 
    cursor:pointer;
    position: relative; 

}

.button span  { 
    display:inline-block;
    padding:0 15px; 
    font:normal 1em/1.35em 'Lato', sans-serif; 
    text-align:center;
    white-space:nowrap;
    background: #222222;
    color:#fff;
    height: 38px;
    line-height: 38px;
}
.button span span  { border:0 !important; padding:0 !important;background: none  !important}
.button:hover span {background:#e60000;}
.disabled span  { border-color:#bbb !important; background:#bbb !important; }
.btn-checkout span span  { background-position:100% 0; padding: 0 15px; }
.btn-checkout.no-checkout span  { background-position:0 100%; color:#b8baba; }
.btn-checkout.no-checkout span span  { background-position:100% 100%; }
p.control input.checkbox,
p.control input.radio  { margin-right:6px; }
input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus {
    outline: none
}
label {font-weight: 400;}