h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
	font-size: $font__head-1;
}
h2 {
	font-size: $font__head-2;
}
h3 {
	font-size: $font__head-3;
}
h4 {
	font-size: $font__head-4;
}

h5 {
	font-size: $font__head-5;
}

h6 {
	font-size: $font__head-6;
}
